# Easy Orders
EASY_ORDERS_SECRET=cVZPWUZuUjh3YQ==
EASY_ORDERS_API_KEY=36859b1f-0ff7-461c-b002-93c3961eee0a
EASY_ORDERS_STORE_ID=c18d62a6-8488-4193-bfb2-168d8edf5e63

# Bosta
BOSTA_API_KEY=a0e06d3c541beb8924f31ba1ad8f3df71a493759fb06dd5bdb6428ed4ff50f0c

# Meta CAPI
META_PIXEL_ID=932044992999350
META_CAPI_TOKEN=EAAEJgPNka0wBRQYLT5vk0QyIjUdNnvI5WRFpAVXV7orbTcoLRdD4JXyjQG6KsYwdNRFHVQdgZA27xZBKXwzLWpy6ETDf7Aj5ftgZBKG3ZApaTvAN1N56yBvmonJYN2sf0UrknAmGhnqPFIr3em9Si41Q9Qb5XBakN0gZCUMaZAlo0kH1xN3ywZBnNSOMBneBgZDZD

# Server
PORT=3000
